$main_bg: #272733;
$primary_clr: #FFFFFF;
$content_clr: #000000;
$content_clr_1: #272733;
$content_clr_2: #3E9CDC;
$content_clr_3: #43ABF0;
$content_clr_4: #2A2B30;
$content_clr_5: #BBBBBB;
$content_clr_6: #C3C3C3;
$primary_rgba: rgba(16, 16, 29, 0.9);
$rgba_1: rgba(255, 255, 255, 0.85);
$rgba_2: rgba(61, 64, 80, 0.85);
$alarm_clr: #EC4F4F;

$bg: #000000;
$bg_1: #FFFFFF;
$bg_2: #3E9CDC;
$bg_3: #6F6D7B;
$bg_4: #C4C4C4;
$bg_5: #3D4050;
$bg_6: #42A9ED;
$bg_7: #286690;
$bg_8: #C3C3C3;
