@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "src/css/color";

$font-family_montserrat: 'Lato', sans-serif;

@mixin font($font_size: 16px, $line-height: 16px, $font_weight:400, $font_color: $primary_clr) {
  font-size: $font_size;
  font-family: $font-family_montserrat;
  font-weight: $font_weight;
  line-height: $line-height;
  color: $font_color;
}
