@import "color";
@import "font";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-flex;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-size: 100%;
  background: $main_bg;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

a,
button {
  cursor: pointer;
}

a,
a:hover, {
  text-decoration: none;
}

.select {
  height: 48px;
  width: 100%;

  .select__control {
    height: 48px;
    cursor: pointer;
    background: $rgba_1;
    border-color: $bg_1;
    @include font(18px, 18px, 400, $primary_clr);

    &:hover {
      border-color: $bg_1;
    }

    .select__indicators {
      .select__indicator-separator {
        background: none;
      }

      .select__dropdown-indicator {
        color: $bg;
      }
    }

    .select__value-container {
      justify-content: flex-start;
      height: 48px;
      grid-template-rows: 48px;
      padding: 0 0 0 10px;

      .select__placeholder {
        color: $content_clr_1;
      }
    }
  }

  .select__control--is-focused.select__control--menu-is-open {
    background: $rgba_2;
    box-shadow: none;
    border-color: transparent;
    border-radius: 3px 3px 0 0;

    .select__indicators {
      .select__dropdown-indicator {
        color: $bg_1;
        transform: rotate(180deg);
      }
    }

    .select__value-container {
      .select__placeholder {
        color: $primary_clr;
      }

      .select__single-value {
        color: $primary_clr;
      }
    }

    .select__control {
      .select__indicators {

        .select__dropdown-indicator {
          color: $bg_1;
        }
      }
    }
  }

  .select__menu {
    border-radius: 0;
    box-shadow: none;
    background: $rgba_2;
    margin: 0;
  }
}

input {
  cursor: pointer;
  height: 48px;
  width: 100%;
  background: $rgba_1;
  padding-left: 10px;
  border: 1px solid $bg_1;
  border-radius: 3px;
  @include font(18px, 18px, 400, $content_clr_1);

  &::placeholder {
    opacity: 1;
    color: $content_clr_1;
  }

  &:focus,
  &:active {
    background: $rgba_2;
    color: $primary_clr;

    &::placeholder {
      color: $primary_clr;
    }

  }
}

.form__file {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  @include font(15px, 15px, 400, $content_clr_1);
  cursor: pointer;
  position: relative;
  width: 370px;
  height: 48px;
  min-height: 48px;
  background: $bg_1;
  border: 2px solid $bg_2;
  border-radius: 3px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }

  input[type = 'file'] {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
  }
}

.form__range {
  .form__range-container {
    display: flex;
    justify-content: space-between;

    p {
      @include font(18px, 18px, 400, $primary_clr);
    }

    .form__range-title {
      text-align: left;
      margin-right: 5px;
    }

    .form__range-value {
      white-space: nowrap;
    }
  }

  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
  }

  input[type=range]::-webkit-slider-runnable-track {
    border-radius: 3px;
    height: 6px;
    border: 1px solid $bg_1;
    background-color: $bg_4;
  }

  input[type=range]::-webkit-slider-thumb {
    background: $bg_6;
    border: 3px solid $bg_5;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    margin-top: -9px;
  }

  input[type=range]::-moz-range-track {
    border-radius: 10px/100%;
    height: 5px;
    border: 1px solid cyan;
    background-color: #fff;
  }

  input[type=range]::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid cyan;
    border-radius: 10px/100%;
    cursor: pointer;
  }
}


img {
  max-width: 100%;
  max-height: 100%;
}

ul li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: $bg_5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  height: 30px;
  border-radius: 4px;
  background: $content_clr_2;
}

::-webkit-scrollbar-thumb:hover {
  background: $content_clr_2;
}

::-webkit-scrollbar-thumb:active {
  background: $content_clr_2;
}

@mixin transition {
  transition: all 0.2s ease;
}

@mixin image-layer {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  @include font(48px, 58px, 700, $content_clr);
}

h2 {
  @include font(36px, 43px, 700, $primary_clr);
}

h1,
h2 {
  text-transform: uppercase;
}

.title_decoration {
  color: $content_clr_2;
}

.button__container {
  display: flex;
  align-items: center;

  .button {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 183px;
  padding: 15px;
  border-radius: 4px;
  background: $bg_2;
  border: 1px solid $bg_1;
  text-transform: uppercase;
  @include font(13px, 16px, 400, $primary_clr);
  @include transition;

  &:hover {
    transform: scale(1.02);
  }

  &:disabled {
    opacity: 0.6;
    cursor: no-drop;

    &:hover {
      transform: scale(1);
    }
  }
}

.button_secondary {
  color: $content_clr_4;
  background: $primary_clr;
  border-color: $bg_3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1212px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  height: 100px;
  background: $primary_rgba;
  z-index: 10;
  min-width: 320px;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      width: 247px;
      height: 35px;

      .header__logo-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.burger {
  display: none;
}

.navigation {
  .navigation__container {
    display: flex;

    .navigation__item {
      cursor: pointer;
      padding: 0 30px;


      &:last-child {
        margin-right: 0;
      }

      &:hover {
        a {
          color: $content_clr_3;
        }
      }

      a {
        @include transition;
        @include font(13px, 13px, 600, $primary_clr);
      }

      .active {
        color: $content_clr_3;
      }
    }
  }
}

.main {
  position: relative;
  z-index: 1;

  &:before {
    background-image: url("../assets/img/main-img.png");
    @include image-layer;
  }

  .main__container {
    max-width: 780px;
    padding: 203px 0;

    .main__body {
      padding: 80px 0;

      .main__title {
        @include font(20px, 24px, 700, $content_clr);
      }

      .main__navigation {
        margin-top: 8px;

        .main__list {
          .main__item {
            position: relative;
            @include font(20px, 24px, 400, $content_clr);
            padding-left: 11px;
            margin-bottom: 5px;

            &:last-child {
              margin-bottom: 0;
            }

            &:before {
              position: absolute;
              content: '';
              top: calc(50% - 0.75px);
              left: 2.5px;
              width: 5px;
              height: 1.5px;
              background: $bg;
            }
          }
        }
      }
    }
  }
}

.ordering {
  position: relative;
  padding: 120px 0 150px 0;
  background: $main_bg;
  z-index: 1;

  &:before {
    background-image: url("../assets/img/layer.png");
    @include image-layer;
  }

  .ordering__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      margin-bottom: 30px;
    }

    p {
      @include font(18px, 22px, 400, $content_clr_5);
    }

    .ordering__list {
      display: flex;
      flex-wrap: wrap;
      padding: 80px 0;
      margin-right: -30px;
      row-gap: 30px;


      .ordering__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(20% - 30px);
        min-width: 210px;
        margin-right: 30px;
        z-index: 1;

        &:last-child {
          &:before {
            display: none;
          }
        }

        &:before {
          position: absolute;
          content: '';
          background-image: url("../assets/img/dots.svg");
          background-repeat: no-repeat;
          width: 110px;
          height: 6px;
          right: -68px;
          top: 47px;
          z-index: -1;
        }

        img {
          width: 100px;
          height: 100px;
          margin-bottom: 20px;
        }

        .ordering__item-title {
          @include font(18px, 19px, 400, $primary_clr);
        }
      }
    }
  }
}

.form {
  width: 100%;

  .form_error {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6px;

    p {
      @include font(16px, 16px, 400, $alarm_clr);
    }
  }

  .form__row {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .form__input {
      flex: 1;
    }

    .form__range {
      flex: 2;
    }
  }

  .button {
    margin-top: 40px;
  }
}

.footer {
  background: $bg_5;

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    @include font(13px, 20px, 400, $primary_clr);

    .footer__item {
      position: relative;
      padding: 0 40px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &:after {
        position: absolute;
        content: '';
        right: 0;
        top: calc(50% - 9px);
        width: 1px;
        height: 18px;
        background: $bg_8;
      }

      &:first-child {
        padding: 0 40px 0 0;
      }

      &:last-child {
        padding: 0 0 0 35px;

        &:after {
          display: none;
        }
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      .footer__sub-item {
        display: flex;
        align-items: center;
        margin-right: 38px;
        padding: 5px 0;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $primary_clr;
        }

        p {
          color: $content_clr_6;
        }
      }

    }
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .container {
    padding: 0 10px;
  }

  .menu {
    display: flex;
    position: fixed;
    background: $main_bg;
    height: 100%;
    width: 100%;
    padding: 10px;
    top: 100px;
    @include transition;

    .navigation {
      width: 100%;

      .navigation__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .navigation__item {
          padding: 10px 0;
        }
      }
    }
  }

  .menu__open {
    left: 0;
  }

  .menu__close {
    left: -100%;
  }

  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 8px;
    min-width: 40px;

    .burger__container {
      @include transition;
      position: relative;
      width: 20px;
      height: 100%;
      border-radius: 1px;

      &:before,
      &:after {
        position: absolute;
        content: '';
        left: 0;
        height: 2px;
        width: 20px;
        background: $primary_clr;
        border-radius: 1px;
        @include transition;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }
  }

  .burger_active {
    .burger__container {
      &:before {
        transform: rotate(45deg);
        top: 4px;
      }

      &:after {
        transform: rotate(-45deg);
        bottom: 2px;
      }
    }
  }

  .main {
    .main__container {
      padding: 180px 0;

      .main__body {
        padding: 50px 0;

        .main__title {
          font-size: 18px;
          line-height: 20px;
        }

        .main__navigation {
          .main__list {
            .main__item {
              font-size: 18px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  .ordering {
    padding: 100px 0 120px 0;
  }
  .footer {
    .footer__container {
      padding: 15px 0;
      flex-direction: column;

      .footer__item {
        padding: 5px 0 0 0;

        &:after {
          display: none;
        }

        &:first-child {
          padding: 0;
        }

        &:last-child {
          padding: 5px 0 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
  h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .main {
    .main__container {
      padding: 150px 0;

      .main__body {
        padding: 30px 0;

        .main__navigation {
          .main__list {
            .main__item {
              font-size: 16px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }

  .form {
    .form__row {
      flex-direction: column;

      .form__input {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .button__container {
    flex-direction: column;

    .button {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .ordering {
    .ordering__container {
      .ordering__list {
        .ordering__item {
          width: 100%;
          margin-bottom: 120px;

          &:before {
            left: calc(50% - 53px);
            top: auto;
            transform: rotate(90deg);
            bottom: -75px;
            right: auto;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
